.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.spacer10 {
    margin-top: 10px;
}
.spacer20 {
    margin-top: 20px;
}
.spacer30 {
    margin-top: 30px;
}
.spacer5 {
    margin-top: 5px;
}

.width-60{
    width:60%;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

.btn-grey{
    color: #FFF;
    background-color: #a3a3a3;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
    width:120px;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
    margin-left: 120px;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tab-container {
    background-color: #f0f3e5;
    padding: 20px 20px 20px 60px;
    min-height: 480px;
    margin-left: 0px;
}
.tab-container .row .col-md-2,
.tab-container .row .col-md-3{
    color: #999;
}
.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
    background-color: #f0f3e5;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 25px;
    color: #a8d242;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    height: 1px;
    /*border-right: 1px solid #ddd*/;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    /*border-color: #eeeeee #dddddd #eeeeee #eeeeee;*/
    background-color: #a8d242;
    color: #FFF;
    border-color: #fff transparent #fff #fff;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    background-color: #a8d242;
    color: #FFF;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.cc-item-master,
.cc-item-visa,
.cc-item-amex,
.cc-item-discover,
.cc-item-mastro,
.cc-item-diner{
    cursor: pointer;
    float:left;
    margin-left:5px;
    border-style: solid;
    border-width: thin;
    border-color: transparent;
    background-image: url("../images/cc.png");
    width: 45px;
    height:25px
}
.cc-item-mastro{
    background-position: 197px ;

}
.cc-item-amex{
    background-position: 146px ;

}
.cc-item-master{
    background-position: 249px ;

}

.cc-item-discover{
    background-position: 95px ;
}
.cc-item-diner{
    background-position: 45px ;
}
.credit-card-selected {
    border-style: solid;
    border-width: thin;
    border-color: red;
}