<div class="row">
    <div class="col-md-11"><h3>Acquisition</h3>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li ng-class="isActive('model')"><a href="#/acquisition?type=model" data-toggle="tab" class="text-right">Look-alike Modeling</a></li>
                <li ng-class="isActive('segment')"><a href="#/acquisition?type=segment" data-toggle="tab" class="text-right">Defined Segments</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane " ng-class="isActive('model')" >
                    <div class="tab-container row">
                        <div class="row ">
                            <div class="col-md-8">
                                <p>Select a file for look-alike modeling. <strong>Please note:</strong>If the file<br/>
                                    has not yet been uploaded, use the File Tab to upload the file.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default " type="button" >
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row spacer20">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-grey">Browse</button>
                            </div>
                        </div>
                        <div class="row spacer40">
                            <div class="col-md-12">
                                <p style="font-size: 22px; color:grey">File List</p>
                            </div>
                        </div>
                        <div class="row spacer10">
                            <div class="col-md-7">
                                <div class="row">
                                    <p>Select a file to be used for look-alike modeling.</p>
                                </div>
                                <div class="row">
                                    <table class="table table-bordered table-striped" style="background: #FFFFFF">
                                        <tbody>
                                            <tr ng-repeat="f in file_list">
                                                <td>
                                                    <input type="checkbox" ng-if="f.checked == true" checked="checked" />
                                                    <input type="checkbox" ng-if="f.checked == false" />
                                                </td>
                                                <td>
                                                    <p>{{f.name}}</p>
                                                    <p style="color: #a8d242;margin-bottom: 2px">{{f.size}}</p>
                                                    <p style="color: #a8d242;margin-bottom: 2px">{{f.uploaded}}</p>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4 span-md-1">
                                <div class="bg-blue" style="width:200px;
                                                            height: 120px;
                                                            margin-top: 10px;
                                                            margin-left: 80px;
                                                            color:#FFF;
                                                            padding-top: 5px;
                                                            padding-left: 15px;">
                                    <h1>2.8 Mil</h1>
                                    <p style="font-size: 20px">Records</p>
                                </div>
                                <div class="bg-green" style="width:200px;
                                                            height: 140px;
                                                            margin-top: 33px;
                                                            margin-left: 80px;
                                                            color:#FFF;
                                                            padding-top: 10px;
                                                            padding-left: 15px;">
                                    <p style="font-size: 20px">Email Acquisition Cost</p>
                                    <h1>$9,500</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row spacer10">
                            <div class="col-md-8">
                                <button type="button" class="btn btn-grey">Calculate</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-grey">Cancel</button>
                            </div>
                            <div class="col-md-4" style="padding-left: 15px">
                                <button type="button" class="btn btn-grey" ng-click="toggleModal()" >Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" ng-class="isActive('segment')">
                    <div class="tab-container row">
                        <div class="row ">
                            <div class="col-md-7" style="margin-left: 10px">
                                <div class="row">
                                    <p>Build the segment by selecting the relevant fields, values and operators.
                                    </p>
                                </div>

                                <div class="row spacer10">
                                    <div class="col-md-2 col-md-offset-1">Field</div>
                                    <div class="col-md-4">
                                        <select>
                                            <option value="1">Occupation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row spacer10">
                                    <div class="col-md-2 col-md-offset-1">Operator</div>
                                    <div class="col-md-4">
                                        <select >
                                            <option value="1">Occupation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row spacer10">
                                    <div class="col-md-2  col-md-offset-1">Value</div>
                                    <div class="col-md-4">
                                        <select>
                                            <option value="1">Occupation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row spacer20">
                                    <div class="col-md-offset-3 col-md-2 spacer5">
                                        <select>
                                            <option value="and">AND</option>
                                            <option value="or">OR</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2" style="margin-left: 20px">
                                        <button type="button" class="btn btn-grey">Add</button>
                                    </div>
                                </div>
                                <br />
                                <div class="row spacer20">
                                    <p style="font-size: 22px; color: grey">Segment Name</p>
                                </div>
                                <div class="row spacer5">
                                    <input type="text" value="Women Health Professionals" style="width:300px" />
                                </div>
                                <div class="row spacer10">
                                    <p style="font-size: 22px;color: grey">Segment Criteria</p>
                                </div>
                                <div class="row spacer5">
                                    <div id="textarea_segment" >
                                        Occupation is (Professional, Health Services)
                                        AND
                                        Gender is (female)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <p style="font-size: 22px;color: grey">Saved Segments</p>
                                </div>
                                <div class="row spacer5" style="padding-right:20px">
                                    <table class="table table-bordered" style="background: #FFF;font-size: 11px">
                                        <thead>
                                            <tr>
                                                <th style="padding:3px" class="bg-grey">Date</th>
                                                <th style="padding:3px" class="bg-grey">Segment Name</th>
                                                <th style="padding:3px" class="bg-grey">Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="s in saved_segments">
                                                <td style="padding:2px">{{s.Date}}</td>
                                                <td style="padding:2px">{{s.name}}</td>
                                                <td style="padding:2px" class="text-right">{{s.Count}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row" style="margin-top: -10px">
                                    <div class="bg-blue" style="width:200px;
                                                            height: 100px;
                                                            margin-top: 0px;
                                                            margin-left: 0px;
                                                            color:#FFF;
                                                            padding-top: 5px;
                                                            padding-left: 15px;">
                                        <p style="font-size: 32px"><strong>967K</strong></p>
                                        <p style="font-size: 20px">Records</p>
                                    </div>
                                    <div class="bg-green" style="width:200px;
                                                            height: 120px;
                                                            margin-top: 10px;
                                                            margin-left: 0px;
                                                            color:#FFF;
                                                            padding-top: 5px;
                                                            padding-left: 15px;">
                                        <p style="font-size: 20px">Email Acquisition Cost</p>
                                        <p style="font-size: 32px"><strong>$9,500</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row spacer20">
                            <div class="col-md-7"  style="margin-left: -5px">
                                <button type="button" class="btn btn-grey">Calculate</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-grey">Save</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-grey">Cancel</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-grey"  ng-click="toggleModal()">Payment</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<modal title="Confirm Payment Information" visible="showModal" >
    <div class="row">
        <div class="col-md-8">
            <p>Please confirm the following credit card information.</p>
        </div>
    </div>
    <div class="row spacer10">
        <div class="col-md-4 spacer5">
            <label>Credit Card Type</label>
        </div>
        <div class="col-md-5">
            <div class="cc-item-visa" style="border-width: 0px" />
        </div>
    </div>
    <form role="form">
        <div class="form-group">
            <div class="row spacer20">
                <div class="col-md-4 spacer5">
                    <label>Credit Card Number</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="email" placeholder="Enter email" value="XXXXXXXXXXX4985" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 spacer5">
                    <label >Expiry Date</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" value="Mar" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" value="2017" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 spacer5">
                    <label >Validation Code</label>
                </div>
                <div class="col-md-2">
                    <input type="password" class="form-control" value="1234" />&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>

    </form>
    <div class="row spacer20">
        <div class="col-md-2 col-md-offset-2">
            <button type="submit" class="btn btn-grey" >Pay Now</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-grey" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</modal>
